export OS_AUTH_URL=
export OS_PROJECT_ID=
export OS_PROJECT_NAME=
export OS_USER_DOMAIN_NAME=

export OS_USERNAME=
export OS_TENANT=
export OS_PASSWORD=

export OS_IDENTITY_API_VERSION=
export OS_PROJECT_DOMAIN_ID=

export OS_URL=
export OS_REGION_NAME=
